html,body{
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

a, div {
  color:black;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
}
.info{ height: auto;
  min-height: 100%;
  padding-right: 300px;
  text-align: right;
  font-family: sans-serif;
}
.infotitle {
  text-align: right;
  font-size: 18px;
}
.center {
  width: 30%;
  padding-left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: NotoSansKR-Black;
}
.center2 {
  width: 35%;
  padding-left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: NotoSansKR-Black;
}
.center3 {width: 25%;

}
.dome {position: relative;
  transform: translateY(-100%);
  display: block;
  font-size: 12px;

}
body {
  /*background-color: #DB7093;*/
  background-image: url(picture/Untitled-1.jpg);
  background-size: 235px;/*
  background-color: #347EBF;*/
}
span{
  margin: 2px; padding: 1px;

}
h1 {
  text-align: center;
  font-size:60px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  font-family: NotoSansKR-Black;
}
@font-face {
  font-family: 'NotoSansKR-Black';
  src: url("NotoSansKR-Black.otf") format('truetype')
}
#canvas{
    position: absolute;left: 50%;top:50%; transform:translate(-50%,-50%);
}
